<!-- FOOTER -->
	<footer>
		<div class="container">
			<div class="footer__content">
				<div class="footer__items">
					<ul>
						<li><a href="">Доставка</a></li>
						<li><a href="">Оплата</a></li>
						<li><a href="">Возврат и обмен</a></li>
						<li><a href="">Партнерская программа</a></li>
						<li><a href="">Юридическим лицам</a></li>
					</ul>
				</div>
				<div class="footer__contacts">
					<div class="telephone">
						<span>Телефон службы доставик:</span>
						<p>+7 888 888-88-88</p>
					</div>
					<div class="footer__schedule">
						<span>Режим работы:</span>
						<p>КРУГЛОСУТОЧНО</p>
					</div>
				</div>
				<div class="footer__social">
					<span>Мы в социальных сетях</span>
					<ul>
						<li><a href="https://www.instagram.com/" target="_blank"><i class="fa-2x fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="https://vk.com/" target="_blank"><i class="fa-2x fa fa-vk" aria-hidden="true"></i></a></li>
						<li><a href="https://www.youtube.com/" target="_blank"><i class="fa-2x fa fa-youtube" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
<!-- END FOOTER -->
