<!-- HEADER -->
	<header>
		<div class="container">
			<div class="logo-mobile">TECHNO<br>STORE</div>
			<div class="header__item"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="location">Москва</span></div>
			<div class="header__item"><i class="fa fa-star" aria-hidden="true"></i><span class="favorite">Избранное</span></div>
			<div class="search">
				<input class="search__input" placeholder="Поиск">
				<div class="search__button"><i class="fa fa-search" aria-hidden="true"></i></div>
			</div>
			<div class="header__item"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span class="registration">Авторизация</span></div>
			<div class="header__item"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="cart">Корзина</span></div>
			<span class="bar"><i class="fa fa-bars" aria-hidden="true"></i></span>
		</div>
	</header>
	<div id="mobile-header">
		<div class="header__item"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="location">Москва</span></div>
		<div class="header__item"><i class="fa fa-star" aria-hidden="true"></i><span class="favorite">Избранное</span></div>
		<div class="header__item"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span class="registration">Авторизация</span></div>
		<div class="header__item"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="cart">Корзина</span></div>
	</div>
<!--END HEADER -->