<!-- NAVIGATION -->
	<div class="navbar-nav"></div>
	<section id="navigation">
		<div class="container">
	<!--	<h5 class="logo">TECHNO STORE</h5>  -->
			<nav class="navbar">
				<ul>
					<li><a href="/">ГЛАВНАЯ</a></li>
					<li><a href="/catalog">КАТАЛОГ</a></li>
					<li><a href="/promotions">АКЦИИ</a></li>
					<li><a href="/about">О МАГАЗИНЕ</a></li>
					<li><a href="/contacts">КОНТАКТЫ</a></li>
				</ul>
			</nav>
		</div>
	</section>
<!-- END NAVIGATION -->